.photographer-h1 {
    color: var(--jasper);
    font-size: 4rem;
    font-weight: normal;
    padding-bottom: 1rem;
    line-height: .8;
}

#contact_modal {
    display: none;
}

.photograph-header #informations .locate {
    color: var(--carmine);
    font-size: 1.5rem;
    padding-bottom: 1rem;
}

.photograph-header #informations .tagline {
    font-size: 1.125rem;
    color: var(--davy-s-gray);
}

.photograph-header {
    background-color: #FAFAFA;
    height: 300px;
    margin: 0 100px;
    padding: 0 2rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
    align-items: center;
    min-width: min-content;
    border-radius: 5px;
}

#profile-photo img {
    height: 200px;
    width: 200px;
    object-fit: cover;
    border-radius: 10rem;
    display: block;
    box-shadow: 0 0 10px 5px rgba(238, 238, 238, 0.5);
}

.contact_button {
    font-size: 20px;
    font-weight: bold;
    color: white;
    padding: 11px;
    width: 170px;
    height: 70px;
    border: none;
    background-color: #901C1C;
    border-radius: 5px;
    cursor: pointer;
}

.modal {
    border-radius: 5px;
    background-color: #DB8876;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 35px;
    margin: auto;
}

.modal header {
    justify-content: space-between;
    width: 100%;
}

.modal header img {
    cursor: pointer;
}

.modal header h2 {
    font-size: 64px;
    font-weight: normal;
    text-align: center;
}

form {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
}

form label {
    color: #312E2E;
    font-size: 36px;
}

form div {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: self-start;
    margin-bottom: 26px;
}

form input {
    width: 100%;
    height: 68px;
    border: none;
    border-radius: 5px;
}